*.mpf
*.mpf
/work
/work
RISC_toy.mpf
work/_info
*.mpf
*.mpf
*.mti
timing.sdc
timing.sdc.bak
work/_info
work/_info
work/_info
vsim.wlf
work/_info
transcript
vish_stacktrace.vstf
work/_info
RISC_toy.cr.mti
RISC_toy.mpf
work/_info
